<div class="row">
    
    <div>
    	<h2 style="padding-left:25px; display: inline-block;" data-translate="swhappyApp.entreprisesurvey.home.title"></h2>
    	<button style="vertical-align: super;" class="btn btn-primary" ui-sref="entreprisesurvey.new({id: vm.entreprise.id})" >
        	<span class="glyphicon glyphicon-plus"></span>
            <span  data-translate="swhappyApp.entreprisesurvey.home.createLabel">Create new Survey</span>
     	</button>
    </div>
    
    <br/>
    <jhi-alert></jhi-alert>
    <br/>
    
    <!-- ListView -->
	<div class="container-fluid" ng-class="{true:'col-md-12', false:'col-md-5'}[vm.page.fullScreen]">
		<div ng-repeat="survey in vm.lstSurvey | orderBy: 'title'" class="list-group">
  			<div class="list-group-item">
    			<div class="row-action-primary">
      				<i ng-click="vm.displaySurvey(survey)" style="background-color:#009688;" class="material-icons">receipt</i>
   				 </div>
    			<div class="row-content">
      				<div class="action-secondary">
      					<i style="color:#f44336;" ui-sref="entreprisesurvey.delete({id:survey.id})" class="material-icons">delete</i>
      				</div>
      				<h6 class="list-group-item-heading">{{survey.title}}</h6>
					<p class="list-group-item-text">Type : {{survey.type}} <br/> Score : {{survey.points}}</p>
    			</div>
  			</div>
  			<div class="list-group-separator"></div>
  		</div>
	</div>
	
	<!-- Survey Detail -->
	<div class="container-fluid col-md-7" ng-if="!vm.page.fullScreen">
	
		<div style="text-align:center;">
			<img ng-src="https://www2.deloitte.com/content/dam/Deloitte/uk/Images/header_images/Campaign/finance/deloitte-uk-deloitte-cfo-survey.jpg/_jcr_content/renditions/cq5dam.web.1400.350.desktop.jpeg" 
				alt="Questionnaire" style="width:100%;height:125px;">
		</div>
 
	</div>
    
</div>
