<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="td-title">
      <div class="row">
       <!-- <div class="col">Nombre de questions: <span>{{ cards.master.length }}</span></div> -->
       <div class="col">Questions restantes: <span>{{ cards.active.length }}</span></div>
       <!-- <div class="col">Discards: <span>{{ cards.discards.length }}</span></div> -->
     </div>
   </div>
      <!-- *************************
        TD Cards
        - We start off with an ng-if so that the cards are not generated
          unless $scope.cards is not 'null'
          ************************* -->
          <div ng-if="cards.active">
            <td-cards>
              <td-card ng-repeat="card in cards.active" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)">
                <div class="image" ng-controller="CardCtrl">
                  <div class="no-text">{{ card.response_right }}</div>
                  <div class="yes-text">{{ card.response_left }}</div>
              <!-- *************************
                Discard
                - The card is removed from the deck and a fly away animation is triggered.
                - onClickTransitionOut is found in ionic.tdcards.js
                - Animation can be customized by changing defaults
                ************************* -->
                <div class="discard" ng-click="onClickTransitionOut(card)">{{ card.question }}</div>
                <img ng-src="img/question.jpg">
              </div>
            </td-card>
          <!-- *************************
            End Card
            - 'drag' is set to false. The user cannot drag it.
            - 'refreshCards()' reloads all cards that have NOT been discarded.
            ************************* -->
            <td-card id="end-card" drag="false">
                <div class="end-quest">Fin du questionnaire</div>
              <a class="icon ion-ios-undo-outline" href="#/tab/survey" ng-click="end()"></a>
            </td-card>
          </td-cards>
        </div>
      </ion-content>
    </ion-view>
