<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Welcome to Ionic</h2>
    <p>
        <ion-list class="list-borderless">

        <!--    <ion-item  ng-repeat="SurveyFactory in SurveysFactory"class="color-red" style="top: 30px;" href="#/tab/question">
                {{SurveyFactory.title}}-->

            <ion-item class="color-red" style="top: 30px;" href="#/tab/survey/{{ data.url_id }}">
                Survey {{ data.url_id }}
                <i class="icon ion-ios-arrow-forward font-130 bold"></i>
            </ion-item>
            <ion-item class="color-red" style="top: 30px;" href="#/tab/survey/{{ data.url_id2 }}">
                Survey {{ data.url_id2 }}
                <i class="icon ion-ios-arrow-forward font-130 bold"></i>
            </ion-item>
        </ion-list>
    </p>
  </ion-content>
</ion-view>
